.carousel-section{
    max-width: 1440px;
    #carouselExampleFade{
        .carousel-inner{
            .carousel-item{
                .about-child{
                    margin-top: 90px;
                }
                p{
                    
                    &:first-child{
                        margin-top: 70px;
                    }
                    margin-left: 70px;
                    
                    position: absolute;
                    color: white;
                }
                h2{
                    margin-top: 160px;
                    margin-left: 70px;

                    position: absolute;
                    color: white;
        
                }
                button{
                    background-color: rgb(188, 81, 72);
                    color: white;
                    border-radius: 5px;
                    padding: 15px;
                    border: none;
                    margin-top: 190px;
                    margin-left: 70px;
                    position: absolute;
                }

            }
        }
    }
}